*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
header{
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;   
    top: 0;
    z-index: 100;
    opacity: 90%;
}
body{
    width: 100%;

    gap:40px;
    width: 100%;
}
.header_content{
    height: 100vh;
    margin: 0 auto;
    gap:40px;
    max-width: 300px;
    flex-direction: column;
}

body.lock{
    overflow: hidden;
}
.logo{
    display: flex;
    gap:10px;
    cursor: pointer;
    font-size: 26px;
    font-weight: 900;
    color: #F11C1C;
    letter-spacing: 0.05em;
    text-shadow: 0px 2px 10px rgba(216, 12, 12, 0.2);
    z-index: 3;
}
.menu-list{
  height: 100%;
}
.burger-menu{
    display: none;
}
.top_nav{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.top_nav a{
    font-size: 16px;
    font-weight: 500;
    color: black;
    margin: 0px 10px;
    letter-spacing: 0.05em;
    transition: 0.3s;
}
.top_nav a:hover{
    color: gray;
}
.top_nav a:last-child{
    margin-right: 0;
}

.burger-menu{
    cursor: pointer;
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    top: 0px;
}
.burger-menu span{
    position: absolute;
    background-color: #F11C1C;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s;
}
.burger-menu::before,
.burger-menu::after{
    content: '';
    background-color: #F11C1C;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0; 
    transition: all 0.3s;
}
.burger-menu::before{
    top: 0;
}
.burger-menu::after{
    bottom: 0;
}
.burger-menu.active::before{
    transform: rotate(45deg);
    top: 9px;
}
.burger-menu.active::after{
    transform: rotate(-45deg);
    bottom: 9px;
}
.burger-menu.active span{
    transform: scale(0);
}

@media (max-width: 970px) {
    main{
        max-width: 730px;
    }
    header{
        padding: 20px 30px;
    }
}


@media (max-width:767px) {
    body{
        flex-direction: column;
    }
    .burger-menu{
        display: block;
    }
    .header-menu{
        display: flex;
        position: fixed;
        top: -200%;
        left: 0;
        width: 100%;
        background-color:#F5F5F5;
        height: 100%;
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .header-menu.active{
        top: 0;
    }
    main{
        max-width: none;
        padding: 0px 30px;
    }
   
    .header_content{
        justify-content: space-evenly;
        align-items:center;
    }
    .top_nav{
        display: flex;
        flex-direction: column;
        padding: 80px;
    }
    .top_nav a{
        font-size: 26px;
        margin: 25px;
    }
   
}
main{
 width: 100vw ;
 min-width: 650px;
 gap: 40px;
 background-color:#9197B3;
 padding: 70px;
}

.wrapper_form{
    padding:43px;
    padding-left: 10px;
    width: 100%;
    background-color:white;
    border-radius:30px;
}

.title_main{
    margin-top:57px;
}

